<div class= 'topbanner'>
    <img src="static/images/logo.png" width="60px" height="auto" class='logo'>
    <h1>FlashCards</h1><br><br><br><br>
    <div class= 'home'><a href='#/home'>Home</a></div>
    <div class= 'logout' ng- click='logout()' > Logout</div>
    <hr color="#63cd40" >
</div><br>

<input type="search" placeholder="Search for a Collection" class='searchbar'>

<h2> My Collections </h2>
<div class= 'all_users_collections' >
    <div class= 'collection'>
        {{stuff}}<br>
        <input type="image" src='static/images/add.png' alt="add_to_top" width="30px" height="auto" ng-click='add_to_top()'>
        <input type="image" src='static/images/remove.jpg' alt="delete" width="30px" height="auto" ng-click='add_to_top()'>
        <input type="image" src='static/images/edit.jpg' alt="edit" width="30px" height="auto" ng-click='add_to_top()'>
    </div>
</div><br><br>
<input type='submit' name='add_a_collection' value= 'Add a collection' class= 'addcoll'>
