<style>
.card, .sidebar{
    display: inline-block;
    vertical-align: top;
}

</style>

<div class= 'topbanner'>
    <div class= 'logout'><a href="#/logout" style="color: lightblue" >Logout</a></div>
    <div class='home'><a href="#/home" style="color:lightblue"> Home </a></div>
    <div class= 'nameofcoll'><h3> {{name of collection}}</h3></div>
<div> <br>

<div class= 'content'>
    <div class= 'card'>
        {{card}}
        <button>Next</button>
    </div>
    <div class= 'sidebar'>
        <button>Add</button><br><br>
        <button>Remove Card</button><br><br>
        <button>Edit</button><br><br>
        <br><br>
        <button>Collection</button>
    </div>
</div>
