<div class= 'topbanner'>
    <img src="static/images/logo.png" width="60px" height="auto" class='logo'>
    <h1>FlashCards</h1><br><br><br><br>
    <hr color="#63cd40" >
</div>
<div class= "registration">
    <h2>REGISTRATION</h2>
    <form ng-submit = "register()">
        <span class='errmess'>{{messages.duperr.message}}</span>
        <span class="errmess">{{messages.username.message}}</span> 
        Username: <input type="text" ng-model= "newUser.username"><br>
        <span class="errmess">{{messages.email.message}}</span>
        Email: <input type="email" ng-model= "newUser.email"><br>
        <span class="errmess">{{messages.password.message}}</span>
        Password: <input type = "password" ng-model="newUser.password"><br>
        Confirm Password: <input type="password" ng-model='newUser.confirm_pw'><br>
        <input type="submit" value="Register!">
    </form>
</div>

<div class= "login">
    <h2> LOGIN </h2>
    <form ng-submit = "login()">
        {{loginmessages.error}}
        Username: <input type="text" ng-model= "loginUser.username"><br>
        Password: <input type = "password" ng-model="loginUser.password"><br>
        <input type="submit" value="Login!"><br>
    </form>

</div>
