<div class= 'topbanner'>
        <img src="static/images/logo.png" width="60px" height="auto" class='logo'>
        <h1>FlashCards</h1><br><br><br><br>
        <div class= 'home'><a href='#/home'>Home</a></div>
        <div class= 'logout' ng- click='logout()' > Logout</div>
        <hr color="#63cd40" >
    </div><br>

<h2>{{Collection_name}}</h2>

<div class= 'collection' layout='grid'>
    {{all cards}}
</div><br><br>
<div class= 'buttons'>
    <input type='image' src='static/images/shuffle.jpg' height='70px' width='auto' alt='shuffle' ng-click='shuffle()' class='icon'>
    <a href="#/card/{{x._id}}"> <input type='image' src='static/images/start.jpg' height='70px' width= 'auto' alt= 'start_studying' class='icon'></a>
    <input type='image' src='static/images/test.jpg' height='70px' width='auto' alt ='test' ng-click='test()' class='icon'>
</div>
