<div class= 'topbanner'>
        <img src="static/images/logo.png" width="120px" height="auto" class='logo'>
        <h1>FlashCards</h1><br><br><br><br>
        <div class= 'home'><a ng-href='#/profile/{{user._id}}'>Home</a></div>
        <div class= 'logout' ng-click='logout()' > Logout</div>
        <hr color="#63cd40" >
</div>

<div class= 'collection_name' ng-click='toggleModal()' title="click to edit name of collection and description.">
    <h2>{{collection.name}}</h2>
</div>


    <modal-dialog ng-show= 'editModal' width= "750px" height='90%'>
        <form ng-submit = 'edit_col_name()'>
            <input type="text" ng-model="editcol.name" placeholder="Change Collection Name">
            <input type="text" ng-model="editcol.description" placeholder="Change Description">
            <input type="radio" name='pubpriv' ng-model = 'editcol.public' value= true><span class='priv'>Public</span>
            <input type="radio" name='pubpriv' ng-model = 'editcol.public' value= false><span class='priv'>Private</span>
            <input type="submit" value='Done'>
        </form><br>
    </modal-dialog>

<div class= 'listcard'  ng-repeat='card in collection._notecards' ng-click='show_card(card._id)' title="{{card.answer}}">
    <section><h5>{{card.question}}</h5></section>
</div>

<div class= 'buttons'>
    <input type='image' title="Add a notecard" src='static/images/addicon.png' height='83px' width='auto' alt='addcard' ng-if='collection._user == user._id' ng-click='addcard()' class='icon'>
    <input type='image' title="Shuffle your collection" src='static/images/shuffle.jpg' height='85px' width='auto' alt='shuffle' ng-if='collection._user == user._id' ng-click='shuffle()' class='icon'>
    <input type='image' title="Start working!" src='static/images/start.jpg' title="Start " height='80px' width= 'auto' alt= 'start_studying' class='icon' ng-click='startcard()'>
    <!-- <a href="#/test/{{collection._id}}"><input type='image' src='static/images/test.jpg' height='70px' width='auto' alt ='test' ng-click='test()' class='icon'></a> -->
</div>
