<div class= 'topbanner'>
    <img src="/static/images/logo.png" width="60px" height="auto" class='logo'>
    <h1>FlashCards</h1><br><br><br><br>
    <div class= 'logout' ng- click='logout()' > <b>Logout</b></div>
    <hr color="#63cd40" >
</div>
<h2>Top Collections </h2>
<div class= 'top_collections'>
    <div ng-click = 'show_collection()'>
        <div class='collection'>
            {{stuffs}}<br>
            <div class='removeicon'><input type="image" src='static/images/remove.jpg' alt="remove_from_top" width="30px" height="auto" ng-click='remove_from_top()' ></div>
        </div>
    </div>
</div><br><br>
<h2>Subjects</h2>

<div class= 'subjects'>
    <div ng-click ='show_subject()'>{{subject}}</div>
</div><br><br>

<div class = 'others'>
    <!-- <button class= 'addbut'>Add a Collection</button> -->
    <input type="image" src='static/images/add.png' alt='addtocollection' height="80px" width="auto">
    <input type="image" src='static/images/find1.jpg' alt='findcollection' height="78px" width="auto">
    <input class='mycol' type="image" src='static/images/index.jpg' alt='mycollection' height="68px" width="auto">
    <!-- mycollection -->
</div>

<div id='dialog-form' title='Create a new Collection'>
    <form class= 'from' ng-submit='addCollection()' id = 'addcollecttion'>
        <fieldset>
            <input type="text" placeholder="Name" ng-model= 'newcollection.name'><br>
            <input type="text" placeholder="Add a Topic" ng-model= 'newcollection.name'><br>
            <input type="text" placeholder="Description" ng-model= 'newcollection.name'><br>
            <input type="radio" name='pubpriv' value= true>Public
            <input type="radio" name='pubpriv' value= false>Private<br>
            <input type="submit" name="add" value="Add">
        </fieldset>
    </form>
<div>
