<div class= 'topbanner'>
        <img src="static/images/logo.png" width="120px" height="auto" class='logo'>
        <h1>FlashCards</h1><br><br><br><br>
        <div class= 'home'><a href='#/profile/{{user._id}}'>Home</a></div>
        <div class= 'logout' ng-click='logout()' > Logout</div>
        <hr color="#63cd40" >
    </div><br>


<h2> Add a review for {{collection_name}}</h2><br>
<div class= 'addreview'>
    <form ng-submit='addreview()'>
        <label> Add a Rating: </label><br>
        <input type='radio' name='rating' value='1'>1
        <input type='radio' name='rating' value='2'>2
        <input type='radio' name='rating' value='3'>3
        <input type='radio' name='rating' value='4'>4
        <input type='radio' name='rating' value='5'>5<br><br>
        Description:<br>
        <textarea rows='3' cols='25' placeholder='Add Review Here.' ></textarea><br>
        <input type="submit" value="Submit" class='submitrev'>
    </form>
</div>
