<div class= 'topbanner'>
        <img src="static/images/logo.png" width="120px" height="auto" class='logo'>
        <h1>FlashCards</h1><br><br><br><br>
        <div class= 'home'><a href='#/profile/{{user._id}}'>Home</a></div>
        <div class= 'logout' ng-click='logout()' > Logout</div>
        <hr color="#63cd40" >
    </div><br>
    <input type="search" placeholder="Search for a Collection" class='searchbar' ng-model= 'search'>


<h2> All Collections in {{subject.name}} </h2>
<div class= 'allsubjects'>
    <div class= 'collection1' ng-repeat="collection in subject._collections | filter: search" >
        <a href="#/collection/{{collection._id}}">{{collection.name}}</a><br>
    </div><br>
</div>
