*{
    margin: 10px;
    text-align:center;
}
form{
    display: inline-block;
    text-align: right;
}
.nameofcoll, .home, .logout{
    display: inline-block;
}


.login, .registration{
    display: inline-block;
    padding: 60px;
    vertical-align: top;
}
.card, .sidebar{
    display: inline-block;
    verticle-align:top;
}
